<%= render "layouts/header" %>
<div class="posts-container">
 <% @posts.each do |post| %>
 <div class="all-posts-container">
    <div class="all-posts">
      <%= render partial: "posts/post", locals: {post: post, user: @user} %>
      </div>
      <div>
      <ul class="post-comments comments-list">
        <% post.most_recent_comments.each do |comment| %>
          <li><%= comment.find_author%> : <%= comment.text%></li>
        <%end%>
      </ul>
    </div>  
 </div>


 <% end %>
</div>
<%= form_with(model: @post, url: create_user_post_path(@user), method: :post) do |form| %>
  <%= form.hidden_field :author_id, value: @user.id %>
  <%= form.hidden_field :comments_counter, value: 0 %>
  <%= form.hidden_field :likes_counter, value: 0 %>
  <h2>Create a new post</h2>
  <%= form.label :title %>
  <%= form.text_field :title %><br>

  <%= form.label :text %>
  <%= form.text_area :text %><br>

  <%= form.submit "Create Post" %><br>
<% end %>
<button type="button">Pagination</button>

<%= render "layouts/footer" %>
